/*Barcoad*/
.MainBarcoadDiv .content_title {
    font-size: 20px;
    font-weight: 600;
    color: blue;
}

.card_apply_button {
    text-align: center;
    border: 2px solid #F88634;
    border-radius: 30px;
    padding: 8px 25px;
    color: #F88634;
    background-color: transparent;
}

    .card_apply_button:hover {
        border-color: black;
    }
